<div class="container-fluid content">
  <div class="col-12 d-block d-sm-none text-center">
    <div class="col-12 text-center"><a routerLink="webfejlesztes"><img src="../../assets/img/webfejlesztes_xs.jpg" id="kep-xs" 
      onmouseover="this.src='../../assets/img/webfejlesztes_xs_hover.jpg';" onmouseout="this.src='../../assets/img/webfejlesztes_xs.jpg';" alt="webfejlesztés"></a></div>
    <div class="col-12 text-center"><a routerLink="grafika"><img src="../../assets/img/grafika_xs.jpg" id="kep-xs"
      onmouseover="this.src='../../assets/img/grafika_xs_hover.jpg';" onmouseout="this.src='../../assets/img/grafika_xs.jpg';" alt="grafikai tervezés"></a></div>
    <div class="col-12 text-center"><a routerLink="illusztracio"><img src="../../assets/img/illusztracio_xs.jpg" id="kep-xs"
      onmouseover="this.src='../../assets/img/illusztracio_xs_hover.jpg';" onmouseout="this.src='../../assets/img/illusztracio_xs.jpg';" alt="illusztrációk"></a></div>
    <div class="col-12 text-center"><a routerLink="rendezveny"><img src="../../assets/img/rendezveny_xs.jpg" id="kep-xs"
      onmouseover="this.src='../../assets/img/rendezveny_xs_hover.jpg';" onmouseout="this.src='../../assets/img/rendezveny_xs.jpg';" alt="rendezvényszervezés"></a></div>
    <div class="col-12 text-center"><a routerLink="szolgaltatas"><img src="../../assets/img/szolgaltatasok_xs.jpg" id="kep-xs"
      onmouseover="this.src='../../assets/img/szolgaltatasok_xs_hover.jpg';" onmouseout="this.src='../../assets/img/szolgaltatasok_xs.jpg';" alt="szolgáltatások"></a></div>
    <div class="col-12 text-center"><a routerLink="elerhetoseg"><img src="../../assets/img/kapcsolat_xs.jpg" id="kep-xs" 
      onmouseover="this.src='../../assets/img/kapcsolat_xs_hover.jpg';" onmouseout="this.src='../../assets/img/kapcsolat_xs.jpg';" alt="kapcsolat"></a></div>
  </div>
  <div class="row menukepek">
    <div class="col-sm-4 d-none d-sm-block text-center">
      <a routerLink="webfejlesztes"><img class="fokep" src="../../assets/img/webfejlesztes.jpg" 
      onmouseover="this.src='../../assets/img/webfejlesztes_hover.jpg';" onmouseout="this.src='../../assets/img/webfejlesztes.jpg';" alt="webfejlesztés"></a>
    </div>
    <div class="col-sm-4 d-none d-sm-block text-center">
      <a routerLink="grafika"><img class="fokep" src="../../assets/img/grafika.jpg" 
      onmouseover="this.src='../../assets/img/grafika_hover.jpg';" onmouseout="this.src='../../assets/img/grafika.jpg';" alt="grafikai tervezés"></a>
    </div>
    <div class="col-sm-4 d-none d-sm-block text-center">
      <a routerLink="illusztracio"><img class="fokep" src="../../assets/img/illusztracio.jpg" 
      onmouseover="this.src='../../assets/img/illusztracio_hover.jpg';" onmouseout="this.src='../../assets/img/illusztracio.jpg';" alt="illusztrációk"></a>
    </div>
  </div>
  <div class="row menukepek">
      <div class="col-sm-4 d-none d-sm-block text-center">
        <a routerLink="rendezveny"><img class="fokep" src="../../assets/img/rendezveny.jpg" 
        onmouseover="this.src='../../assets/img/rendezveny_hover.jpg';" onmouseout="this.src='../../assets/img/rendezveny.jpg';" alt="rendezvényszervezés"></a>
      </div>
      <div class="col-sm-4 d-none d-sm-block text-center">
        <a routerLink="szolgaltatas"><img class="fokep" src="../../assets/img/szolgaltatasok.jpg" 
          onmouseover="this.src='../../assets/img/szolgaltatasok_hover.jpg';" onmouseout="this.src='../../assets/img/szolgaltatasok.jpg';" alt="szolgáltatások"></a>
      </div>
      <div class="col-sm-4 d-none d-sm-block text-center">
        <a routerLink="bemutatkozas"><img class="fokep" src="../../assets/img/kapcsolat.jpg" 
          onmouseover="this.src='../../assets/img/kapcsolat_hover.jpg';" onmouseout="this.src='../../assets/img/kapcsolat.jpg';" alt="kapcsolat"></a>
      </div>
  </div>
</div>
