<div class="container-fluid header">
  <div class="row">
    <div class="col-6 col-sm-6 col-lg-2 d-sm-none text-center">
      <a routerLink="/"><img class="headlogo" src="../../assets/img/Sordekor1.png " alt="jcst-logó"></a>
    </div>
    <div class="col-6 col-sm-2 col-lg-2 d-none d-sm-block text-center">
      <a routerLink="/"><img class="headlogo" src="../../assets/img/JCsTlogo.png " alt="jcst-logó"></a>
    </div>
    <div class="col-6 col-sm-10 col-lg-10">
      <nav class="navbar navbar-expand-sm navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-nav">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Referencia munkák</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="webfejlesztes">Webfejlesztés</a>
                <a class="dropdown-item" routerLink="grafika">Grafikai tervezés</a>
                <a class="dropdown-item" routerLink="illusztracio">Illusztrációk</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="rendezveny">Rendezvényszervezés</a>
              </div>
            </div>
            <a class="nav-item nav-link" routerLink="szolgaltatas">Szolgáltatások</a>
            <a class="nav-item nav-link" routerLink="bemutatkozas">Kapcsolat</a>
          </div>
        </div>
      </nav>
    </div>

  </div>

</div>