<div class="container-fluid footer">
  <div class="row footer">
    <div class="col-12 col-md-5">
      <ul class="kapcsolat"><p class="fejlec"><strong>Kapcsolat</strong></p>
        <li>
          <strong>Telefonszám:</strong> 3630/9734336</li>
        <li>
          <strong>E-mail cím:</strong> jakab.cseh@gmail.com</li>
          <li>
          <strong>Postacím: </strong>1202 Bp., Emőke u. 26.</li>
      </ul>    
    </div>
    <div class="col-6 col-md-3">
      <ul><p class="fejlec"><strong>Menü</strong></p>
        <li><a routerLink="/webfejlesztes">Webfejlesztés</a></li>
        <li><a routerLink="/grafika">Grafikai tervezés</a></li>
        <li><a routerLink="/illusztracio">Illusztrációk</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-4">
      <ul>
        <li><a routerLink="/rendezveny">Rendezvényszervezés</a></li>
        <li><a routerLink="/szolgaltatas">Szolgáltatások</a></li>
        <li><a routerLink="/elerhetoseg">Elérhetőség</a></li>
        <li><a routerLink="/bemutatkozas">Bemutatkozás</a></li>
      </ul>
    </div>
  </div>
  <div class="row szerzo">
    <div class="col-12"><p><strong>&copy; jcst-kreatív</strong></p>
    </div>   
  </div>
</div>