<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Grafikai tervezés</p>
      <p>A grafikai tervezésnek két fontos szempontja van. Az első, hogy esztétikus legyen a látványa, a második pedig, hogy elérje a kívánt hatást.
        Csakis akkor lehet vele elégedett a készítője, ha ezt a két szempontot sikerült tökéletesen ötvözni. </p>
        <button type="button" class="btn"><a href="mailto:jakab.cseh@gmail.com">Árajánlatot kérek!</a></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/img/MamaBe molino.png" alt="MamaBe molinó">
            <div class="carousel-caption d-none d-md-block">
              <h5>Roll-up tervezés</h5>
              <p class="slidesor">MamaBe roll-up</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/MamaBe szórólap.png" alt="MamaBe szórólap">
            <div class="carousel-caption d-none d-md-block">
              <h5>Szórólap két féle hátlappal </h5>
              <p  class="slidesor">MamaBe szórólap</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Dani & Mara save the date.png" alt="Save the date kártya">
            <div class="carousel-caption d-none d-md-block">
              <h5>Save the date kártya</h5>
              <p  class="slidesor">Mara és Dani digitális save the date kártyája</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Norbi&Gerda menü.png" alt="Menükártya">
            <div class="carousel-caption d-none d-md-block">
              <h5>Esküvői menükártya</h5>
              <p class="slidesor">Gerda és Norbi háromszög alakba hajtogatható menükártyája</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Profil-obama.png" alt="Profil fotó Obama stílusban">
            <div class="carousel-caption d-none d-md-block">
              <h5>Profil fotó plakát stílusban</h5>
              <p class="slidesor">poszter, Obama elnök választási plakátja alapján</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Profil-smoke.png" alt="Füst profil">
            <div class="carousel-caption d-none d-md-block">
              <h5>Profil fotó effekttel</h5>
              <p class="slidesor">füst effekttel módosított fotó</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Erdély.png" alt="X-banner">
            <div class="carousel-caption d-none d-md-block">
              <h5>Konferencia X-banner </h5>
              <p class="slidesor">erdélyi, építészeti konferencia x-bannere</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Pálinka.png" alt="Pálinka cimke">
            <div class="carousel-caption d-none d-md-block">
              <h5>Pálinkás üveg cimke</h5>
              <p class="slidesor">esküvői pálinkához készült cimke</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/MEB-polo.png" alt="MEB-polo">
            <div class="carousel-caption d-none d-md-block">
              <h5>Póló design</h5>
              <p class="slidesor">egyen póló egy kosárlabda tornára</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Előző</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Következő</span>
        </a>
      </div>
  </div>

</div>