<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Grafikai tervezés</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/Moliinó MamaBe-01.png">
    </div>
    <div class="col-12 col-sm-6 ">
      <p class="strong">Roll-up tervezése</p>
      <p>Gyermekruhákat és kiegészítőket forgalmazó cég számára készült roll-up.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/asztalso szórólap.png">
    </div>
    <div class="col-12 col-sm-6 ">
      <p class="strong">Szórólap két változatban</p>
      <p>10*10 cm-es szórólap amelynek két változatban készült a hátoldala. Az első változat hátuljára egy színező és egy kedvezmény
        kupon, a második változaton pedig ajándékutalvány kapott helyet.
      </p>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img src="../../assets/img/Save the date Mara & Dani 4.jpg">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Esküvői save the date kártya</p>
        <p>Egy oldalas, digitálisan használt save the date kártya egy magyar-amerikai párnak.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img src="../../assets/img/Menükártya Norbi&Gerda.png">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Esküvői menükártya</p>
        <p>Esküvőre készített, háromszög alakba hajtogatható menükártya.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img class="nagy" src="../../assets/img/Profil_obamastyle.png">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Profil fotó plakát stílusban</p>
        <p>Plakát stílusban készített profil kép.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img class="nagy" src="../../assets/img/Smokephoto.jpg">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Fotó módosítás</p>
        <p>Photoshoppal módosított fénykép, füst effekttel.</p>
      </div>
    </div>
    <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/erdely.jpg">
    </div>
    
    <div class="col-12 col-sm-6">
      <p class="strong">Konferencia x-banner</p>
      <p>Egy erdélyi, építészeti témájú konferencia sorozatra készített x-banner.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/Meggy pálinka.jpg">
      <img class="nagy" src="../../assets/img/Körte pálinka.jpg">
      <img class="nagy" src="../../assets/img/Szilva pálinka.jpg">
      <img class="nagy" src="../../assets/img/IMG_0808.JPG">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Pálinkás üveg cimke</p>
      <p>Esküvői pálinkákhoz készült cimkék.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/meb_polo.jpg">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Póló design</p>
      <p>Kosárlabda rendezvény hivatalos egyenpólója.</p>
    </div>
  </div>

</div>