<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Grafikai tervezés</p>
      <p>A grafikai tervezésnek két fontos szempontja van. Az első, hogy esztétikus legyen a látványa, a második pedig, hogy elérje a kívánt hatást.
        Csakis akkor lehet vele elégedett a készítője, ha ezt a két szempontot sikerült tökéletesen ötvözni. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/Moliinó MamaBe-01.png" alt="MamaBe roll-up">
    </div>
    <div class="col-12 col-sm-6 ">
      <p class="strong">Roll-up tervezése</p>
      <p>Gyermekruhákat és kiegészítőket forgalmazó cég számára készült roll-up.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/asztalso szórólap.png" alt="MamaBe szórólap">
    </div>
    <div class="col-12 col-sm-6 ">
      <p class="strong">Szórólap két változatban</p>
      <p>10*10 cm-es szórólap amelynek két változatban készült a hátoldala. Az első változat hátuljára egy színező és egy kedvezmény
        kupon, a második változaton pedig ajándékutalvány kapott helyet.
      </p>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img src="../../assets/img/Save the date Mara & Dani 4.jpg" alt="Save the Date kártya">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Esküvői save the date kártya</p>
        <p>Egy oldalas, digitálisan használt save the date kártya egy magyar-amerikai párnak.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img src="../../assets/img/Menükártya Norbi&Gerda.png" alt="esküvői menükártya">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Esküvői menükártya</p>
        <p>Esküvőre készített, háromszög alakba hajtogatható menükártya.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img class="nagy" src="../../assets/img/Profil_obamastyle.png" alt="plakát">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Profil fotó plakát stílusban</p>
        <p>Plakát stílusban készített profil kép, Obama elnök választási plakát képe alapján.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img class="nagy" src="../../assets/img/Smokephoto.jpg" alt="effekttel készült kép">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Fotó módosítás</p>
        <p>Photoshoppal módosított fénykép, füst effekttel.</p>
      </div>
    </div>
    <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/erdely.jpg" alt="erdélyi x-banner">
    </div>
    
    <div class="col-12 col-sm-6">
      <p class="strong">Konferencia x-banner</p>
      <p>Egy erdélyi, építészeti témájú konferencia sorozatra készített x-banner.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 text-center">
      <img class="palinka" src="../../assets/img/pálinka.jpg" alt="pálinka cimke">
    </div>
    <div class="col-12 col-sm-3 text-center">
        <img class="palinka" src="../../assets/img/IMG_0808.JPG" alt="pálinkás üveg">
      </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Pálinkás üveg cimke.</p>
      <p>Esküvői pálinkákhoz készült cimkék, a terv és a megvalósítás.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/meb_polo.jpg" alt="egyedi póló">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Póló design</p>
      <p>Évente megrendezésre kerülő kosárlabda torna egyen pólója, 2016-ból és 2017-ből.</p>
    </div>
  </div>

</div>