<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Webfejlesztés</p>
      <p>A webfejlesztés számomra egyszerre művészet és tudomány. Művészet egy-egy honlap arculatának megtervezése, a színek, formák, képek 
        és a szövegek harmóniájának megteremtése. Tudomány pedig mindezek létrehozása. A kódok megírása úgy, hogy az a megálmodott kinézetnek tökéletesen megfeleljen.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/tanczoszoltan.jpg" alt="Tánczos Zoltán honlapja">
    </div>
    <div class="col-12 col-sm-6 ">
      <p class="strong">Komplett webfejlesztés</p>
      <p><a href="http://www.tanczoszoltan.hu/" target="_blank">tanczoszoltan.hu</a></p>
      <p>Személyi edzés témájú honlap design-jának megtervezése,
        valamint a weboldal lefejlesztése.
        A fejlesztés HTML, CSS és Bootstrap segítségével történt.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm text-center">
      <img src="../../assets/img/Wedday.hu.jpg" alt="Wedday.hu honlapja">
    </div>
    <div class="col-12 col-sm">
      <p class="strong">Webdesign</p>
      <p><a href="http://www.kibt.hu/web_eskuvoszervezes_2014/indulo_eskuvoszervezes.htm" target="_blank">wedday.hu</a></p>
      <p>Honlap design tervezése egy esküvőszervezéssel foglalkozó vállalkozás számára.</p>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm text-center">
        <img src="../../assets/img/KonferenciaIrodaBt..jpg" alt="Konferencia Iroda Bt. honlapja">
      </div>
      <div class="col-12 col-sm">
        <p class="strong">Webdesign és wordpress alapú honlap fejlesztése</p>
        <p><a href="http://www.kibt.hu/kibt_hu/" target="_blank">konferenciairoda.hu</a></p>
        <p>Webdesign megtervezése egy konferencia szervező cég számára, majd a honlap létrehozása wordpress segítségével.</p>
      </div>
  </div>
  <div class="row">
        <div class="col-12 col-sm text-center">
          <img src="../../assets/img/D-Építőipar.jpg" alt="D-Építőipar honlapja">
        </div>
        <div class="col-12 col-sm">
          <p class="strong">Webdesign és wordpress alapú honlap fejlesztése</p>
          <p><a href="http://www.d-epitoipar.hu/" target="_blank">d-epitoipar.hu</a></p>
          <p>Webdesign megtervezése egy építőipar témájú konferencia számára, majd a honlap létrehozása wordpress segítségével.</p>
        </div>
  </div>
</div>
