<div class="container-fluid">
  <div class="row kicsi">
    <div class="col-12">
      <p class="fejlec">Szolgáltatások</p>
      <p class="strong">Árképzés</p>
      <p> A szolgáltatások árainak meghatározása, minden esetben egyedi módon történik, a munkára fordítandó idő és a feladat
        bonyolultságának függvényében. Árajánlatot kérne?
        <a href="mailto:jakab.cseh@gmail.com">Kattintson ide!</a>
      </p>
    </div>
  </div>
  <div class="container-fluid kozep">
    <div class="row nagy">
      <div class="col-12 col-sm-6 col-lg szolgaltatas text-center" >
        <img src="../../assets/img/webfejlesztes_hover.jpg" alt="webfejlesztés">
        <ul>Webfejlesztés
          <li>komplett webfejlesztés: honlap design megtervezése, a weblap kódjának lefejlesztése </li>
          <li>honlap design megtervezése</li>
          <li>honlap fejlesztése meglévő design alapján</li>
          <li>meglévő honlap átalakítása, korszerűsítése, mobil verzió kialakítása</li>
        </ul>
      </div>
      <div class="col-12 col-sm col-lg szolgaltatas text-center">
        <img src="../../assets/img/grafika_hover.jpg" alt="grafikai tervezés">
        <ul>Grafikai tervezés
          <li>hirdetési anyagok megtervezése: molinók, bannerek, roll-up-ok, szórólapok, névjegykártyák, egyéb céges anyagok
            tervezése</li>
          <li>esküvői anyagok tervezése: meghívók, ültetőkártyák, egyedi cimkék, stb.</li>
          <li>egyedi minták tervezése különböző tárgyakra: pólóminták, bögre feliratok, poszterek, stb.</li>
          <li>fényképek szerkesztése, retusálása, régi fényképek feljavítása</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg szolgaltatas text-center">
        <img src="../../assets/img/illusztracio_hover.jpg" alt="illusztráció">
        <ul>Illusztrációk készítése
          <li>logók tervezése</li>
          <li>egyedi háttérképek készítése</li>
          <li>egyedi figurák tervezése</li>
          <li>animált figurák készítése</li>
          <li>illusztráció készítése fénykép alapján</li>
        </ul>
      </div>
      <div class="col-12 col-sm col-lg szolgaltatas text-center">
        <img src="../../assets/img/rendezveny_hover.jpg" alt="rendezvényszervezés">
        <ul>Rendezvényszervezés
          <li>teljes körű rendezvényszervezés, a tervezéstől a lebonyolításig az alábbi területeken: családi rendezvények (keresztelők,
            születésnapok, stb.), esküvők, szakmai rendezvények, csapatépítő tréningek stb.</li>
          <li>rendezvények lebonyolításában való közreműködés</li>
          <li>szervezéssel kapcsolatos tanácsadás</li>
        </ul>
      </div>
    </div>
  </div>
</div>