<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Rendezvényszervezés</p>
      <p>Rendezvényt szervezni mindenki tud - mondják sokan. 
        Ez igaz, de egy szakember azt is tudja, hogy hol vannak a buktatók,
         mire kell odafigyelni, milyen szolgáltatókkal érdemes dolgozni 
         és nem utolsó sorban leveszi a megrendelő válláról a bosszankodás 
         és idegeskedés terheit. Ha tehát szeretné egy szakemberre bízni rendezvényét,
          keressen az elérhetőségeim bármelyikén.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/gerda&norbi.jpg" alt="Gerda és Norbi">
    </div>
    <div class="col-12 col-sm-6">
       <p class="szoveg">"Az esküvőnk szervezésével Timit bíztuk meg, ami a lehető legjobb döntésnek bizonyult.
         Gyakorlatilag elég volt a gyűrűket és a menyasszonyi ruhát kiválasztanunk, minden mást ő intézett. 
         Neki köszönhetően nem kellett az esküvő előtt hónapokig szervezkednünk és esténként azon rettegve elaludnunk, 
         vajon elfelejtettünk-e valamit. 
        Így a nagy napot boldogan és gondtalanul élvezhettük, és még a nagyszülők is le voltak nyűgözve."</p>
        <p>Gerda és Norbi</p>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-6 text-center order-sm-2">
        <img src="../../assets/img/mara&dani.jpg" alt="Mara és Dani">
      </div>
      <div class="col-12 col-sm-6 order-sm-1">
        <p class="szoveg">Mara és Dani ajánlóját hamarosan olvashatják</p>
      </div>
  </div>
</div>
