.row {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.555);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.336);
}

img {
    max-width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.szoveg {
    padding-top: 10px;
    text-align: justify;
}

@media screen and (max-width: 576px){
    img  {
        max-width: 50%;
    } 
}