<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Rendezvényszervezés</p>
      <p>Rendezvényt szervezni mindenki tud - mondják sokan. 
        Ez igaz, de egy szakember azt is tudja, hogy hol vannak a buktatók,
         mire kell odafigyelni, milyen szolgáltatókkal érdemes dolgozni 
         és nem utolsó sorban leveszi a megrendelő válláról a bosszankodás 
         és idegeskedés terheit. Ha tehát szeretné egy szakemberre bízni rendezvényét,
          keressen az elérhetőségeim bármelyikén.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 text-center">
      <img src="../../assets/img/gerda&norbi.jpg" alt="Gerda és Norbi">
    </div>
    <div class="col-12 col-sm-8">
       <p class="szoveg">Gerda és Norbi már évek óta Dániában élnek, azonban nem volt kérdés, hogy itthon szeretnének összeházasodni.
         A nehézséget az okozta, hogy a szervezés ideje alatt mindössze egy alkalommal tudtak hazajönni, így egy olyan segítségre volt szükségük,
         aki itthon tudja kézben tartani a dolgokat.
       </p>
       <p class="szoveg">"Az esküvőnk szervezésével Timit bíztuk meg, ami a lehető legjobb döntésnek bizonyult.
         Gyakorlatilag elég volt a gyűrűket és a menyasszonyi ruhát kiválasztanunk, minden mást ő intézett. 
         Neki köszönhetően nem kellett az esküvő előtt hónapokig szervezkednünk és esténként azon rettegve elaludnunk, 
         vajon elfelejtettünk-e valamit. 
        Így a nagy napot boldogan és gondtalanul élvezhettük, és még a nagyszülők is le voltak nyűgözve."</p>
        <p>Gerda és Norbi</p>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-4 text-center order-sm-2">
        <img src="../../assets/img/mara&dani.jpg" alt="Mara és Dani">
      </div>
      <div class="col-12 col-sm-8 order-sm-1">
        <p class="szoveg">Mara és Dani Magyarországon élnek, ám Mara amerikai, ezért neki a nyelvi akadályokkal is meg kellett küzdenie a szervezés során, 
          így jól jött nekik a segítség.
          Határozott elképzeléseik voltak, de a tanácsokat jó szívvel fogadták.
        </p>
        <p class="szoveg">"Timi was very good at identifying proper locations for our wedding venue and 
          helped us find our perfect place. She also came to help us taste the menu and provided very valuable feedback. 
          She helped find the photographer, who was incredible. When prompted for advice about what to do, 
          Timi gave feedback due to her training in wedding planning. She was very kind, organized, and able to provide positive feedback. 
          We were very thankful to have her assistance!"</p>
        <p>Mara és Dani</p>  
      </div>
  </div>
</div>
