<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Illusztrációk</p>
      <p>Az illusztrációk készítése számomra az a terület, ahol a leginkább engedhetem szárnyalni a fantáziám.
        Egy-egy logó vagy más illusztráció megtervezésekor is figyelembe kell azonban venni, hogy az elkészült anyag ne csak a szép legyen,
        de meg is feleljen az elvárt követelményeknek, feladatoknak.
      </p>
      <button type="button" class="btn"><a href="mailto:jakab.cseh@gmail.com">Árajánlatot kérek!</a></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/img/JCST-logo.png" alt="JCST-logo">
            <div class="carousel-caption d-none d-md-block">
              <h5>Logó tervezés</h5>
              <p class="slidesor">saját logó tervezése</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/PFM-logo.png" alt="PFM logó">
            <div class="carousel-caption d-none d-md-block">
              <h5>Logó tervezés</h5>
              <p class="slidesor">Personal Fittnes Manager Kft. logójának tervezése</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/MamaBe szinező.png" alt="MamaBe szinező">
            <div class="carousel-caption d-none d-md-block">
              <h5>Szinező tervezése</h5>
              <p class="slidesor">szinező tervezése MamaBe szórólaphoz</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/MEB-logo.png" alt="MEB-logó">
            <div class="carousel-caption d-none d-md-block">
              <h5>Logó tervezés</h5>
              <p class="slidesor">MEB kosárlabda torna logójának tervezése</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Ati rajzfilm.png" alt="rajzfilm figura">
            <div class="carousel-caption d-none d-md-block">
              <h5>Rajzfilm figura tervezése</h5>
              <p class="slidesor">rajzfilm figura tervezése fénykép alapján</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Ati logo.png" alt="Mineralmaniac logó">
            <div class="carousel-caption d-none d-md-block">
              <h5>Logó tervezése</h5>
              <p class="slidesor">Mineral Maniac logó áttervezése</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Delfin.png" alt="Delfin háttérkép">
            <div class="carousel-caption d-none d-md-block">
              <h5>Háttérkép tervezése</h5>
              <p class="slidesor">egyedi delfines háttérkép tervezése</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Cat.png" alt="Cica figura">
            <div class="carousel-caption d-none d-md-block">
              <h5>Figura tervezése</h5>
              <p class="slidesor">állatfigura tervezése</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/Wolf.png" alt="Farkas háttérkép">
            <div class="carousel-caption d-none d-md-block">
              <h5>Háttérkép tervezése</h5>
              <p class="slidesor">egyedi farkasos háttérkép tervezése</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Előző</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Következő</span>
        </a>
      </div>
    </div>
</div>