<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Illusztrációk</p>
      <p>Az illsztrációk készítése számomra az a terület, ahol a leginkább engedhetem szárnyalni a fantáziám.
        Egy-egy logó vagy más illusztráció megtervezésekor is figyelembe kell azonban venni, hogy az elkészült anyag ne csak a szép legyen,
        de meg is feleljen az elvárt követelményeknek, feladatoknak.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/PFM logó.png" alt="Personal Fitness Manager Kft. logója">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Logó tervezése</p>
      <p>Logó tervezés és szerkesztés egy személyi edzéssel foglalkozó cég számára.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/JCsTlogo.png" alt="jcst-logó">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Saját logó tervezése</p>
      <p>Logó megtervezése és szerkesztése saját ötletek és tervek alapján.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/Szinező MamaBe.png" alt="MamaBe szinező">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Színező</p>
      <p>Színező készítés babaruhákat és kiegészítőket forgalmazó cég számára, saját ötlet és tervek alapján.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/Ati névjegy.png" alt="MineralManiac logó">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Logó szerkesztése</p>
      <p>Logó megszerkesztése már létező tervek alapján.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/Ati.png" alt="rajzfilm karakter">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Rajzfilm karakter készítése</p>
      <p>Fénykép alapján rajzfilm hatású kép készítése.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/14601093_923693287764932_2530189802280470347_n.png" alt="MEB-logó">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Logó tervezése</p>
      <p>Kosárlabda rendezvény logójának megtervezése.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/Delfin background.png" alt="delfin háttérkép">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Háttérkép készítése</p>
      <p>Romantikus delfines háttérkép készítése, saját ötlet alapján.</p>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img src="../../assets/img/Wolf background.png" alt="farkas háttérkép">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Háttérkép készítése</p>
        <p>Vonyító farkast ábrázoló háttérkép készítése, videó inspiráció alapján.</p>
      </div>
    </div>
</div>