<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="fejlec">Illusztrációk</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/JCsTlogo.png">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Saját logó tervezése</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/Szinező MamaBe.png">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Színező</p>
      <p>Színező készítés babaruhákat és kiegészítőket forgalmazó cég számára.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/Ati névjegy.png">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Logó szerkesztése</p>
      <p>Már létező logó átszerkesztése.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/Ati.png">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Rajzfilm karakter készítése</p>
      <p>Fénykép alapján rajzfilm hatású kép készítése.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img class="nagy" src="../../assets/img/14601093_923693287764932_2530189802280470347_n.jpg">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Logó tervezése</p>
      <p>Kosárlabda rendezvény logójának megtervezése.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center">
      <img src="../../assets/img/Delfin background.png">
    </div>
    <div class="col-12 col-sm-6">
      <p class="strong">Háttérkép készítése</p>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img src="../../assets/img/Wolf background.png">
      </div>
      <div class="col-12 col-sm-6">
        <p class="strong">Háttérkép készítése</p>
      </div>
    </div>
</div>