.row {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.336);
    background-color: rgba(255, 255, 255, 0.555);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    max-width: 600px;
    margin: 0 auto;
}


.fejlec {
    margin-top: 5px;
}

.slidesor, h5, .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #44403d81;
}


h5 {
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.btn {
    background-color: rgb(149, 110, 155);
    margin-bottom: 5px;
}

.btn a {
    color: white; 
}