<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p class="fejlec">Kapcsolat</p>
      <ul>
        <li class="nev">Jakab-Cseh Tímea</li>
        <li>
          <strong>Telefonszám:</strong> 3630/9734336</li>
        <li>
          <strong>E-mail cím:</strong> jakab.cseh@gmail.com</li>
        <li>
          <strong>Postacím: </strong>1202 Bp., Emőke u. 26.</li>
        <li>
          <strong>Székhely: </strong>1098 Bp., Epreserdő u. 38./I.</li>
      </ul>
    </div>
  </div>

</div>